@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* colors: 
dark(black) : slate-900
light(white) : white
yellow : yellow-200
orange: orange-500 

black,white,purple-500,neutral-400
*/
html{
    scroll-behavior: smooth;
}

@layer base{
    body{
        @apply font-[Ubuntu];
    }
    li{
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div,.feature-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    cursor: pointer;
}

.content-div:hover{
    background-image: linear-gradient(
        to right,
        #c1b6fc,
        #c1b6fc
    ) !important;
}

.logo{
    font-family: 'Sriracha', cursive !important;
}

.active{
    color: blue !important;
}